.data-table {
	width: 100%;
}

.data-table tr{
	border-bottom: 1px solid;
	border-color: #CCCCCC;
	line-height: 150%
}

.stats {
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-top-color: #D3D3D3;
	border-bottom-color: #D3D3D3;
	width: 240px;
	height: 100px;
}

.stat-num {
	font-size: 40px;
	color: black;
}

.stats td {
	text-align: center;
	color: #c0c0c0;
}

.chart {
	width:100%;

}
.chart th {
	width: 150px;
	text-align: right;
	padding-right: 5px;

}

.chart div{
	background-color: #6699ff;
	border-radius: 0px 3px 3px 0px;
}

.chart td{
	color: white;
}



